
<main class="mx-auto p-20 w-full shadow-sm max-md:max-w-full md:w-1/2">
  <section class="flex flex-col gap-6 max-md:flex-col max-md:gap-0">
    <h1 class="text-4xl font-medium">Welcome to admin dashboard</h1>
    <form class="flex flex-col max-md:w-full">
      <div class="w-full">
        <label for="username" class="sr-only">Email</label>
        <input id="username" type="text" name="username" placeholder="Enter your Username" [(ngModel)]="username"
               class="w-full p-4 mt-4 px-6 py-4 leading-tight text-lg text-gray-600 border-neutral-800 border rounded-lg shadow appearance-none focus:outline-none focus:shadow-outline focus:text-black"/>
      </div>
      <div class="w-full">
        <label for="password" class="sr-only">Password</label>
        <div class="relative">
          <input [type]="hide ? 'password' : 'text'" id="password" name="password" placeholder="Enter your Password" [(ngModel)]="password"
                 class="w-full p-4 mt-4 px-6 py-4 leading-tight text-lg text-gray-600 border-neutral-800 border rounded-lg shadow appearance-none focus:outline-none focus:shadow-outline focus:text-black"/>
          <button id="password-icon" mat-icon-button (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>

      </div>
      <button type="button" (click)="login()" class="w-full text-lg px-12 py-3 bg-violet-600 text-white rounded-lg mt-8">Log In</button>
    </form>
    <div class="max-md:w-full">
      <p class="mt-2"><a href="http://localhost:4200/forgot-password" target="_blank" class="text-violet-600">Forgot password?</a></p>
    </div>
  </section>
</main>
