<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div id="side-bar" class="flex flex-col p-10 gap-10 justify-center items-center">
      <img class="w-16" src="assets/images/logo.png">
      <div class="flex flex-col gap-8 w-40">
        <a color="primary" class="" mat-stroked-button routerLink="/dashboard/properties">Properties</a>

        <a color="primary" class="" mat-stroked-button routerLink="/dashboard/reports">Reports</a>

        <a color="primary" class="" mat-stroked-button routerLink="/dashboard/articles">Articles</a>

        <a color="primary" class="" mat-stroked-button routerLink="/dashboard/users">Users</a>

        <a color="primary" class="" mat-stroked-button routerLink="/dashboard/agencies">Agencies</a>

        <button color="accent" class="" mat-stroked-button (click)="logout()">Logout</button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content id="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
